@model Lawyer.DTOModels.Social

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Social</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacebookUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkypeUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkypeUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YoutubeUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoutubeUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkedInUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedInUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SocialId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
